.xwiki-userlist {
  padding-left: 0;
  list-style: none;
}

.xwiki-userlist li {
  padding: 1em;
  border-bottom: 1px solid #e8e8e8;
}

.xwiki-userlist li:first-of-type {
  border-top: 1px solid #e8e8e8;
}

.xwiki-userlist li .xwiki-userlist-user-username {
  padding-left: 1em;
}
