## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
{{hide-if displayType="DEFAULT" groups="XWiki.XWikiAllGroup" matchUsing="ALL"}}
content1
{{/hide-if}}

{{hide-if displayType="DEFAULT"}}
content2
{{/hide-if}}

{{hide-if displayType="NONE"}}
content3
{{/hide-if}}

{{hide-if authenticationType="AUTHENTICATED" displayType="PRINTABLE" groups="XWiki.XWikiAdminGroup" matchUsing="ALL"
users="XWiki.superadmin"}}
content4
{{/hide-if}}

{{hide-if groups="XWiki.XWikiNonExistingGroup" matchUsing="ALL"}}
content5
{{/hide-if}}

{{hide-if displayType="DEFAULT" groups="XWiki.XWikiNonExistingGroup" matchUsing="ANY"}}
content6
{{/hide-if}}

{{hide-if displayType="PRINTABLE"}}
content7
{{/hide-if}}

{{hide-if authenticationType="AUTHENTICATED"}}
content8
{{/hide-if}}

{{hide-if groups="XWiki.XWikiAllGroup" matchUsing="ALL"}}
content9
{{/hide-if}}

{{hide-if groups="XWiki.XWikiAllGroup" users="XWiki.superadmin" matchUsing="ALL"}}
content10
{{/hide-if}}

{{hide-if groups="XWiki.XWikiAllGroup" users="XWiki.superadmin" matchUsing="ANY"}}
content11
{{/hide-if}}