## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
{{panel borderColor="#f536f5" borderStyle="dashed" borderWidth="2" bgColor="#edfa34" contentTextColor="red" titleBGColor="#452fd4" titleColor="#74d927" width="300px" borderRadius="20px" footerBGColor="#ac4de8" footerColor="#6beded" height="50%" title="PanelTestTitle" footer="PanelTestFooter" }}
Content for PanelMacroTest
Content2 for PanelMacroTest

{{/panel}}

{{panel borderColor= "#f536f5" borderStyle="solid" title="NestedPanelsTestTitle" }}
Content3 for PanelMacroTest

{{panel borderColor= "rgb(153, 0, 153)" borderStyle="groove" classes="testCssClass" title= "NestedPanelsTestTitle2"}}
Content4 for PanelMacroTest

{{/panel}}

{{/panel}}
