## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
{{tab-group effectDuration="10" cssClass="CssTabGroup" effectType="FADE" id="tabGroup_0" tabLocation="TOP"
nextAfter="3"}}

{{tab label="tab0" cssClass="tabCssClass" effectDuration="2" id="tab_0" nextAfter="2" default="true"}}

tab0-content

{{/tab}}

{{tab label="tab1" cssStyle="color: red" id="tab_1"}}

tab1-content

{{/tab}}

{{tab label="tab2" effectType="FADE" id="tab_2" nextAfter="3"}}

tab2-content

{{/tab}}

{{/tab-group}}


{{tab-group effectType="FADE" id="tabGroup_1" tabLocation="BOTTOM" height="100" loopCards="true" width="100"
nextAfter="5"}}

{{tab label="tab0" cssClass="tabCssClass" effectDuration="2" id="tab_3" nextAfter="2" }}

tab0-content

{{/tab}}

{{tab label="tab1" cssStyle="color: red" id="tab_4"}}

tab1-content

{{/tab}}

{{tab label="tab2" effectType="FADE" id="tab_5" nextAfter="3" default="true"}}

tab2-content

{{/tab}}

{{/tab-group}}


{{tab-group id="tabGroup_2" tabLocation="RIGHT" loopCards="true" nextAfter="1"}}

{{tab label="tab0" cssClass="tabCssClass" id="tab_6" }}

tab0-content

{{/tab}}

{{tab label="tab1" cssStyle="color: red" id="tab_7"}}

tab1-content

{{/tab}}

{{/tab-group}}


{{tab-group id="tabGroup_3" tabLocation="LEFT"}}

{{tab label="tab0" id="tab_8" }}

tab0-content

{{/tab}}

{{tab label="tab1" default="true" cssStyle=" background-color: yellow; color: red ; border: 1px dashed #ccc"
id="tab_9"}}

tab1-content

{{/tab}}

{{/tab-group}}